<!DOCTYPE html>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Fenix' rel='stylesheet' type='text/css'>
<!-- <link rel="stylesheet" href="tooltip.css"> -->

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<style>
body {
  font-family: Fenix, serif;
  font-size: 11;
  /*width: 620px;*/
}
.background {
  fill: none;
  pointer-events: all;
}

/*#states .active {
  fill: orange;
}*/

  .state{
    stroke: none;
    stroke-width: 3px;
  }

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
.legendTitle {
  font-weight: bold;
}
span {
  /*color: pink;*/
  font-weight: bold;
  text-transform: uppercase;
}
.state {
  stroke: none;
  stroke-width: 3px;
}
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.line {
  fill: steelblue;
  opacity: 0.8;
  /*  stroke: white;
  stroke-dasharray: 5,5;
  stroke-width: 3px;*/
}
.title {
  font-size: 24px;
  fill: black;
  /*dx: 2em;*/
}

.btn-group button{
  max-width: 100px;
}

</style>
<!-- <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css"> -->
<script src="http://d3js.org/d3.v3.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://d3js.org/colorbrewer.v1.min.js"></script>
<script src="libraries/angular.min.js"></script>
<script src="libraries/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>

<!-- <script src="d3-tip.js"></script> -->


<body ng-app="mainApp" ng-controller="mainCtrl">


  <!-- <form name="myForm" >
  <input type="radio" ng-model="which" value="counseling">  counseling</div>
  <input type="radio" ng-model="which" value="insurance"> Insurance
  <input type="radio" ng-model="which" value="parent"> Parent Involvement
 </form> -->
  <!-- <div class=".d3-tip"> -->
  <!-- </div> -->
  <div style="width: 620px;">
    <h2 style="text-align:center;">Abortion Statistics</h2>
    <div class="btn-group" style="margin-left: 75px">
      <button type="button" class="btn btn-primary" ng-model="which" btn-radio="'counseling'">Mandated <br> Counseling</button>
      <button type="button" class="btn btn-primary" ng-model="which" btn-radio="'parents'">Parental <br>Involvement</button>
      <button type="button" class="btn btn-primary" ng-model="which" btn-radio="'public'">Public Health <br> Funding</button>
      <button type="button" class="btn btn-primary" ng-model="which" btn-radio="'employees'">State Workers <br>Insurance</button>
      <button type="button" class="btn btn-primary" ng-model="which" btn-radio="'insurance'">Private <br> Insurance</button>

    </div>
    <div map-vis></div>

    <h3 style="text-align:center;">Abortions per 1,000 Women Ages 15-44</h3>
    <div line-chart></div>
    <p style="float: right;">Source: <a target="_blank" href="http://www.guttmacher.org/datacenter/table.jsp#">Guttmacher Institute</a>
    </p>
  </div>

</body>

<script src="map.js"></script>
<script src="rates.js"></script>

<script>
var legendKey = {
  counseling: {
    0: "No restriciton",
    1: "Mandated counseling w/ info designed to discourage abortion",
    2: "Waiting period b/w counseling and abortion",
    3: "In-person counseling required"
  },
  parents: {
    0: "No restriction",
    1: "One parent notified",
    2: "Both parents notified",
    3: "One parent must consent",
    4: "Both parents must consent"
  },
  "insurance": {
    0: "No restriction",
    1: "Life endangerment, severe health risk, rape, incest or fetal impairment",
    2: "Life endangerment",
  },
  employees: {
    0: "In any case",
    1: "In limited circumstances",
    2: "Never"
  },
  "public": {
    0: "State pays for all abortions",
    1: "Life endangerment, rape, incest or other circumstances",
    2: "Life endangerment, rape, or incest",
    3: "Life endangerment"
  }
};

var legendTitleText = {
  counseling: "What rules govern pre-abortion counseling?",
  parents: "How involved must parents be for a minor's abortion?",
  "insurance": "When may private insurance cover abortions?",
  employees: "Are abortions covered by state workers' insurance?",
  "public": "Under what circumstances do state programs fund abortions?"
};



var app = angular.module('mainApp', ['ui.bootstrap'])

var controller = app.controller('mainCtrl', ['$scope',
  function(scope) {

    scope.color = d3.scale.ordinal().domain([0, 1, 2, 3, 4]).range(['rgb(254,229,217)','rgb(252,174,145)','rgb(251,106,74)','rgb(222,45,38)','rgb(165,15,21)'])

    us.objects.states.geometries.forEach(function(d) {
      d.properties = restrictions.filter(function(v) {
        return +v.id == +d.id;
      })[0];
    });

    scope.us = us;

    var lineData = {};

    var parseDate = d3.time.format("%Y").parse;

    d3.keys(rates[0])
      .filter(function(name) {
        return name !== "date"
      })
      .forEach(function(key) {
        lineData[key] = rates.map(function(d) {
          return {
            date: parseDate(new String(d.date)),
            val: d[key]
          }
        });
      });

    scope.lineData = lineData;

    scope.state = "Alabama";

    scope.which = "parents";

  }
]);

app.directive('mapVis', function() {
  // Runs during compile
  return {
    restrict: 'A', // E = Element, A = Attribute, C = Class, M = Comment
    link: function(scope, el, attr) {

      var color = scope.color;

      var width = 550,
        height = 500;

      var projection = d3.geo.albersUsa()
        .scale(750)
        .translate([width / 2, height / 2 - 50]);

      var GeoPath = d3.geo.path()
        .projection(projection);

      var margin = {
        top: 0,
        left: 50,
        right: 10,
        bottom: 2
      };

      var svg = d3.select(el[0]).append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)

      var g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

      var stateG = g.append("g")
        .attr("id", "states")
        .selectAll("path")
        .data(topojson.feature(scope.us, scope.us.objects.states).features)
        .enter().append("path")
        .attr("class", "state-area")
        .attr("d", GeoPath)
        .attr("stroke", "black")
        .attr("stroke-width", "2px")
        .attr("stroke-opacity", 0.2)

      var legendG = svg.append("g")
        .attr("transform","translate(" + [width, height - 105] + ")")

      var legendTitle = legendG.append("text")
        .attr("class","legendTitle")
        .style("text-anchor", "end")


      var legend = legendG.selectAll(".legend")
        .data(d3.range(0, 5))
        .enter().append("g")
        .attr("class", "legend")
        .attr("transform", function(d, i) {
          return "translate(0," + (5 + i * 20) + ")";
        });

      var legendRec = legend.append("rect")
        .attr("x",  - 18)
        .attr("width", 18)
        .attr("height", 18)
        .style("fill", color);

      var legendText = legend.append("text")
        .attr("x",  - 24)
        .attr("y", 9)
        .attr("dy", ".35em")
        .style("text-anchor", "end")


      stateG.on("mouseover", function(d) {
        scope.$apply(function() {
          scope.state = d.properties.name;
        })
      });

      scope.$watch("which", function(newVal) {

        var count = d3.keys(legendKey[newVal]).length

        legend.data(d3.range(0,count))
        
        legend.style("opacity",function(d,i){
          return i<count ? 1 : 0
        })

        stateG.attr("fill", function(d) {
          return color(d.properties[newVal]);
        });

        legendText.text(function(d) {
          return legendKey[newVal][d];
        });

        legendTitle.text(legendTitleText[newVal])


      });

      g.append("path")
        .datum(topojson.mesh(scope.us, scope.us.objects.states, function(a, b) {
          return a !== b;
        }))
        .attr("id", "state-borders")
        .attr("d", GeoPath);

    } //end link
  }; //end return
}); //end directive


app.directive('lineChart',
  function() {

    // Runs during compile
    return {
      restrict: 'A', // E = Element, A = Attribute, C = Class, M = Comment
      link: function(scope, el, attrs) {
        var width = 550,
          height = 200;

        var margin = {
          top: 10,
          left: 50,
          right: 10,
          bottom: 25
        };

        var x = d3.time.scale()
          .range([0, width]);

        var y = d3.scale.linear()
          .range([height, 0]);

        var xAxis = d3.svg.axis()
          .scale(x)
          .orient("bottom");

        var yAxis = d3.svg.axis()
          .scale(y)
          .orient("left");

        var line = d3.svg.area()
          .x(function(d) {
            return x(d.date);
          })
          .y0(height)
          .y1(function(d) {
            return y(d.val);
          });

        var svg = d3.select(el[0])
          .append("svg")
          .attr("width", width + margin.left + margin.right)
          .attr("height", height + margin.top + margin.bottom)
          .append("g")
          .attr("transform", "translate(" + margin.left + "," + margin.top + ")")

        var xAxisG = svg.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")

        var yAxisG = svg.append("g")
          .attr("class", "y axis")

        var path = svg.append("path")


        var titleG = svg.append("g")
          .attr("transform", "translate(" + [width - 50, 10] + ")")

        var titleRect = titleG.append("rect")
          .attr({
            width: 0,
            height: 25,
            fill: "#222",
            opacity: .8,
            stroke: "none"
          })


        var title = titleG.append("text")
          .attr("class", "title")
          .attr("dx", "-.5em")
          .attr("text-anchor", "end")

        scope.$watch("state", function(newVal) {

          if (newVal == null) return;

          title.transition().duration(150)
            .style("fill-opacity", 0)
            .attr("dy", ".5em")

          title.transition().delay(150)
            .duration(0)
            .attr("dy", "1.5em")
            .text(newVal)
            .each('end', function() {

              d3.select(this).transition().duration(300)
                .ease("elastic")
                .style("fill-opacity", 1)
                .attr("dy", "1em")

              var localData = scope.lineData[newVal];

              x.domain(d3.extent(localData, function(d) {
                return d.date;
              }));

              // y.domain([0, d3.max(localData, function(d) {
              //   return d.val;
              // })]);

              y.domain(d3.extent(localData, function(d) {
                return d.val;
              }));

              yAxisG.transition().duration(250).call(yAxis);

              xAxisG.transition().duration(250).call(xAxis);

              path.datum(localData)
                .transition().duration(350)
                .attr("class", "line")
                .attr("d", line);
            })


        });

      }
    };
  }
);
</script>
